.p-input{
  height: calc(1.5rem + 0.8rem + 2px);
  padding: 1.3rem 1rem;
  font-size: 0.8125rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  width: 100%;
  border: 1px solid ;
  color: #898b92;
  background-color: #fff;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus{
    border-color: var(--primary);
    box-shadow: none;
    outline: none;
  }
}
.badged{
  padding: 4px;
  font-weight: normal;
  color: #FFFFFF;
  border-radius: 4px;
  &-success{
    background-color: var(--success);
  }
  &-alert{
    background-color: var(--danger);
  }
}

.multi__upload{
  margin-top: 32px;
  .upload__file-title{
    color: #898b92;
    cursor: pointer;
    text-align: left;
    display: block;
    font-size: 0.8125rem;

  }
  &-input{
    border: 1px solid var(--border-color);
    flex: 1;
    padding: 0.6rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  &-preview{
    display: flex;
    .fake-title{
      opacity: 0;
      visibility: hidden;
      flex: 1;

    }
    .list__preview{
      width: 70%;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      &-item{
        position: relative;
        margin: .9rem .9rem 0 0;
        padding: 10px;
        border: 1px solid #e2e5ec;
        border-radius: 6px;
        img{
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-height: 100px;
          min-height: 90px;
        }
        .close{
          position: absolute;
          right: -12px;
          top: -9px;
          cursor: pointer;
          width: 24px;
          height: 24px;
          background-color: #e2e5ec;
          border-radius: 50%;
        }
      }
    }
  }

  label{
    width: 100%;
  }
}

//checkbox
.p-checkbox{
  position: relative;
  input[type="checkbox"].ios8-switch + label {

  }
  input[type="checkbox"].ios8-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  input[type="checkbox"].ios8-switch + label:after {
    content: "";
    position: absolute;
    display: block;
    left: 45%;
    transform: translateX(-50%);
    top: 0px;
    width: 24px; /* x*3 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  input[type="checkbox"].ios8-switch + label:hover:after {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  input[type="checkbox"].ios8-switch:checked + label:after {
    margin-left: 19px;
  }
  input[type="checkbox"].ios8-switch:checked + label:before {
    background: #55d069;
  }
}

.btn--primary{
  color: #fff !important;
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  padding: 0.6rem 1.2rem !important;
  font-size: 0.875rem !important;
  transition: .3s !important;
  &:hover{
    opacity: 0.8;

  }
}